/* ==================MOBILE HEADER ====================================*/
header{
    position: relative;
    height: 66px;
}

.body_hamburger_open{
    background: rgba(0, 0, 0, 0.5);
}

.header_wrapper{
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B5249;
    padding: 10px;
    z-index: 3;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}

.nav_menu a{
    display: flex;
}

.nav_menu button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #3B5249;
}

#En{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;  
}

#Ua{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
}

.hamburder_menu_open_btn{
    z-index: 6;
    width: 32px;
    height: 21px;
    background-image: url("./images/Hamburger_menu_open_btn.png");
    cursor: pointer;
}

.nav_menu .hamburder_menu_close_btn{
    z-index: 6;
    width: 24px;
    height: 24px;
    background-image: url("./images/Close_hamburger_menu_btn.png");
    background-color:  rgba(255, 255, 255, 0.95);
    cursor: pointer;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 211px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    z-index: 5;
}
