/* ==================MOBILE HEADER ====================================*/
header {
  position: relative;
  height: 66px;
}

.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b5249;
  padding: 16px;
  z-index: 3;
}

.Logo_header {
  width: 77px;
  height: 33px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}

.nav_menu a {
  display: flex;
}

.nav_menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3b5249;
  cursor: pointer;
}

.nav_menu button:hover{
  color:black;
  background-color: #ffffff;
}

.nav_menu .about_us {
  display: none;
}

#En {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  padding: 1px 7px;
}

#Ua {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  padding: 1px 7px;
}

.nav_menu .donate_header {
  display: none;
}

@media (min-width: 768px) {
  
.Logo_header{
  width: 159px;
  height: 43px;
}

  .nav_menu .hamburder_menu_open_btn {
    display: none;
  }

  .nav_menu button {
    width: 74px;
    height: 44px;
  }

  .nav_menu .about_us {
    display: inline-block;
    color: #fff;
    font-size: 18px;
  }

  .nav_menu .telegram {
    display: none;
  }

  .nav_menu .red_chrest {
    display: none;
  }

  #En {
    font-size: 18px;
  }

  #Ua {
    font-size: 18px;
  }

  .nav_menu .donate_header {
    display: flex;
    justify-content: center;
    width: 172px;
    height: 55px;
    padding: 14px 32px 14px 32px;
    border-radius: 1px;
    background: var(--button, #3671e9);
    font-size: 18px;
    line-height: 27px;
    color: white;
    cursor: pointer;
  }
}
