@import url(./common.css);
@import url(./header.css);
@import url(./section_1.css);
@import url(./section_2.css);
@import url(./section_3.css);
@import url(./section_4.css);
@import url(./footer.css);

body{
    background-color:#D9D9D9;
}

svg{
    width: inherit;
    height: inherit;
}

.container{
    padding: 0 10px;
}

.popup{
    position: absolute;
    top: -12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    z-index: 5;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
}

.flexPopup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 125px;
}

.flexPopup button{
    cursor: pointer;
    background-image: url("./images/Close_hamburger_menu_btn.png");
    background: rgba(255, 255, 255, 0.95);
}

.popuptext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.popup .popuptext::after {
  content: "";
    position: absolute;
    top: 112%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-top-width: 25px;
}

.popuptext p{
    font-size: 12px;
    line-height: 18.866px;
}