@import url(./common.css);
@import url(./header.css);
@import url(./section_1.css);
@import url(./section_2.css);
@import url(./section_3.css);
@import url(./section_4.css);
@import url(./footer.css);

body{
    background-color:#D9D9D9;
}

svg{
    width: inherit;
    height: inherit;
}

.container{
    padding: 0 10px;
}

.popup_test {
    position: absolute;
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    top: -12%;
    left: 50%;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    z-index: 5;
    padding: 20px;
    gap: 20px;
    transform: translate(-50%);
  }
  .popup_test h2 {
    font-size: 24px;
    line-height: 37.866px;
  }
  .popup_test p {
    font-size: 12px;
    line-height: 18.866px;
    padding-bottom: 0;
  }
  .popup_test button {
    background: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    font-size: 22px;
  }
  .popup_test ::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-top-width: 25px;
  }
  
  .flex_popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .show_popup {
    display: flex;
  }

  .body_shadow{
   background-color: rgba(0, 0, 0, 0.50);;
  }


@media (min-width: 768px){
    .popup_test{
        top: 0;
        width: 476px;
    }
    .popup_test p {
        font-size: 16px;
        line-height: 23px;
      }
}

@media (min-width:1920px){
    .container{
        padding: 0 118px;
    }
}