.sec-1 {
  background-image: url("./images/Bacground_section1_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-1 h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}
.sec-1 p {
  font-size: 10px;
  line-height: 13px;
}

.wrapper_sec1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 17px;
}

.menu_statistic {
  width: 100%;
  background-color: #77995d;
  margin: 0 auto;
}
.menu_statistic button {
  position: absolute;
  display: flex;
  width: 48px;
  height: 48px;
  background-color: #77995d;
  top: 0px;
  cursor: pointer;
}
.menu_statistic button svg {
  width: 48px;
  height: 48px;
}
.menu_statistic .btn_transform {
  transform: rotate(180deg);
  border-bottom: 1px solid black;
  background-color: #fff;
}

.side_menu {
  position: relative;
  border: 1px solid black;
}
.side_menu li {
  display: none;
  background-color: #77995d;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}
.side_menu li p {
  font-size: 18px;
  line-height: 19.9px;
  font-style: normal;
}
.side_menu li svg {
  height: 28px;
  width: 35px;
}
.side_menu .active {
  display: flex;
  align-items: center;
  gap: 6px;
}
.side_menu .show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  border: 1px solid black;
  background-color: #fff;
}
.side_menu .show:hover {
  background-color: #77995d;
}

.direction_row {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.direction_column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
}

.statistic_container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 23px;
  width: 100%;
  justify-content: space-between;
}
.statistic_container li {
  list-style: none;
}
.statistic_container p {
  font-size: 16px;
  line-height: 6.4px;
}

.container_text_statistic {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.grafic_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: flex-start;
  gap: 10px;
}

.grafic_container_desctope {
  display: none;
}

.flex_cont_grafic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.flex_cont_grafic p {
  font-size: 16px;
}

.img_graffic {
  width: 340px;
  height: 129px;
}

.link_icons {
  display: none;
}

.ellips_year {
  position: relative;
}

.svg_mobile_tablet {
  display: block;
}

.svg_desctop {
  display: none;
}

@media (min-width: 768px) {
  .sec-1 h1 {
    font-size: 30px;
    line-height: 37.866px;
    padding-bottom: 10px;
    padding-top: 56px;
  }
  .sec-1 p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 40px;
  }
  .wrapper_sec1 {
    flex-direction: row;
    gap: 40px;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 0;
  }
  #btn_arrow {
    display: none;
  }
  .side_menu {
    border: none;
  }
  .side_menu .active {
    background-color: #fff;
  }
  .side_menu li {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 190px;
    border: none;
  }
  .side_menu li:hover {
    background-color: #fff;
  }
  .menu_statistic {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin: 0;
  }
  .menu_statistic ul {
    display: flex;
    flex-direction: column;
    width: 190px;
    gap: 1px;
    background-color: white;
  }
  .menu_statistic ul p {
    padding: 0;
  }
  .flex_container {
    gap: 15px;
  }
  .flex_container p {
    padding: 0;
  }
  .statistic_container {
    position: relative;
    width: 100%;
    align-items: flex-start;
    width: 238px;
    flex-direction: column;
  }
  .statistic_container img {
    width: 20px;
    height: 20px;
  }
  .statistic_container p {
    font-size: 26px;
    line-height: 40px;
  }
  .statistic_container .elips_img {
    width: 200px;
    height: 200px;
  }
  .link_icons {
    display: flex;
    flex-direction: column;
    padding-top: 255px;
  }
  .link_icons svg {
    width: 57px;
    height: 57px;
  }
  .grafic_container {
    align-items: center;
  }
  .flex_cont_grafic {
    display: none;
  }
  .img_graffic {
    width: 726px;
    height: 276px;
  }
}
@media (min-width: 1920px) {
  .sec-1 {
    text-align: center;
  }
  .sec-1 h1 {
    font-size: 40px;
    line-height: 37px;
  }
  .sec-1 p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 0;
  }
  .svg_mobile_tablet {
    display: none;
  }
  .svg_desctop {
    display: block;
  }
  .wrapper_sec1 {
    padding-top: 113px;
    padding-bottom: 130px;
    align-items: flex-end;
    gap: 5px;
  }
  .statistic_container {
    width: 244px;
    margin-left: 90px;
  }
  .grafic_container {
    display: none;
  }
  .grafic_container_desctope {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 964px;
  }
  .container_text_statistic {
    margin-bottom: 0;
  }
  .container_text_statistic p {
    font-size: 26px;
  }
}/*# sourceMappingURL=section_1.css.map */