.sec-1{
    background-image: url("./images/Bacground_section1_mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        padding-top: 40px;
    padding-bottom: 20px;
    }
    p{
    font-size: 10px;
    line-height: 13px;
    }
}

.wrapper_sec1{
    padding-top: 30px;
    padding-bottom: 17px;
}

.menu_statistic{
    width: 340px;
    background-color: #77995D;
    margin: 0 auto;
    button{
        display: flex;
        width: 48px;
        height: 48px;
        background-color: #77995D;
        svg{
            width: 48px;
            height: 48px;
        }
    }
    .btn_transform{
        transform: rotate(180deg);
    }
}


.side_menu{
    li{
    display: none;
    background-color: #77995D;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    p{
        font-size: 18px;
        line-height: 19.9px;
    }
    svg{
        height: 28px;
        width: 28px;
    }
    }
        .active{
            display: flex;
            align-items: center;
            gap: 6px;
        }
        .show{
            display: flex;
            align-items: center;
            gap: 6px;
        }
        
}

.direction_row{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.direction_column{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    }

.statistic_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    li{
        list-style: none;
    }
    p{
        font-size: 16px;
        line-height: 6.4px;
    }
}

.grafic_container{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.flex_cont_grafic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}