.sec-4 {
  background-image: url("./images/Background_section4_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 60px;
}

.container_flex_sec_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  h1 {
    font-size: 26px;
    line-height: 29.866px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
  button {
    width: 100%;
    padding: 14px 28px 14px 32px;
    border-radius: 1px;
    background: var(--button, #3671e9);
    font-size: 18px;
    line-height: 27px;
    color: white;
    cursor: pointer;
  }
}

.Img_sec4_desc {
  display: none;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 768px) {
  .sec-4 {
    background-color: #d9d9d9;
    background-image: none;
  }
  .container_flex_sec_4 {
    align-items: flex-start;
    padding-bottom: 0;
    h1 {
      font-size: 30px;
      line-height: 37px;
    }
    p {
      font-size: 22px;
      line-height: 33px;
    }
  }

  .flex {
    button {
      width: 222px;
      padding: 14px 32px 14px 32px;
    }
    button:hover {
      color: black;
      background-color: #ffffff;
    }
  }
}

@media (min-width: 1920px) {
  .sec-4 {
    background-color: #d9d9d9;
  }
  .container_flex_sec_4 {
    flex-direction: row;
  }
  .Img_sec4_desc {
    display: block;
  }
}
